body{
    background-color: rgb(233, 233, 233);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0) ;
    
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;

}
input[type=text] {
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  input {
    
    vertical-align: baseline;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: none;
    border-bottom: 1px solid rgb(255, 224, 224);
  }
 .button{
     background-color: transparent;
     font-family: Arial, Helvetica, sans-serif;
     color: white;
     border-color: rgb(0, 0, 0);

 }
 form{
    padding-left: 45vw;
    margin: 0 auto;
 }
 .botoncen{
    margin: 0;
    position: absolute;
    left: 50%;
    top:90%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 }
 .general{
    display: grid;
    grid-auto-rows: minmax(40vh,auto);
 }
 .content{
        width:45vw;
        transform: translate(50%, 50%);
     display: grid;
     grid-template-columns: 33.3% 33.3% 33.3%;
 }
 h2{
     vertical-align: bottom;
     font-family: Arial, Helvetica, sans-serif;
     font-weight:lighter;
     letter-spacing: 6px;
     text-align: center;
     
 }
 .lugar{
     padding-top: 40vh;
  top: 40%;   
 }